/* ==================== PIXEL TOOLBAR =================== */

/* All buttons */
.iconBtn {
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 35px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid white;
  margin-right: 5px;
}


/*  ==== All toolbar wrap ===  */
.pixelTool {
  margin-bottom: 15px;
  display: flex;
  background-color: white;
  width: 348px;
}


/*  ==== Undo/Redo Buttons ===  */

/*  Undo Button - Undo.jsx  */ 
.undoBtn {
  background-image: url('/PixelArt/PixelArt_icons_Undo.png');
  background-color: white;
}

.redoBtn {
  background-image: url('/PixelArt/PixelArt_icons_Redo.png');
}


/*  ==== BrushTool Buttons ===  */

/*  Paint - BrushTool.jsx */ 
.paintBtn {
  background-image: url('/PixelArt/PixelArt_icons_Paint.png');
}

/*  Eraser - BrushTool.jsx */ 
.eraserBtn {
  background-image: url('/PixelArt/PixelArt_icons_Eraser.png');
}

/*  Fill  - BrushTool.jsx */ 
.fillBtn {
  background-image: url('/PixelArt/PixelArt_icons_Fill.png');
}


/*  ==== Clear Button ===  */

/*  Clear  - Clear.jsx */ 
.clearBtn {
  background-image: url('/PixelArt/PixelArt_icons_Clear.png');
}


/*  ==== Download Button ===  */

/*  Download  - Download.jsx */ 
.downloadBtn {
  background-image: url('/PixelArt/PixelArt_icons_Download.png');
}


/*  ==== Color Button ===  */

/*  Color button - BrushColor.jsx  */ 
.colorBtn {
  box-sizing: border-box;
}


/* ==================== HOVER EFFECT =================== */
.clearBtn:hover,
.colorBtn:hover,
.downloadBtn:hover,
.eraserBtn:hover,
.fillBtn:hover,
.paintBtn:hover,
.redoBtn:hover,
.undoBtn:hover {
  background-color: #ddd;
}


/* ==================== DISABLE EFFECT =================== */

.clearBtn:disabled,
.downloadBtn:disabled,
.eraserBtn:disabled,
.fillBtn:disabled,
.paintBtn:disabled,
.redoBtn:disabled, 
.undoBtn:disabled {
  opacity: 0.6;
  background-color: #3a3a3a;
}


/* ==================== PIXEL CANVAS INPUT  =================== */

/*  Div surrounding inputs 
.canvasInput {

} */

/* Row and Column title  */ 
.pixelTitle {
  display: inline-block;
}

/* Row and Column input */ 
.pixelInput {
  border-radius: 5px;
  display: inline-block;
  padding: 2px;
  border: 0.5px solid black;
  margin: 0 10px 10px 0;
  width: 107px;
}




