/* ==================== PIXEL TOOLBAR =================== */

/* All buttons */
.iconBtn {
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 35px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 5px;
  margin: 0 auto;
}


/*  ==== All toolbar wrap ===  */
.pixelTool {
  display: flex;
  background-image: url('https://img.freepik.com/premium-vector/pixel-art-starry-sky-during-sunset-moon-with-clouds-stars-vector-illustrations-eps10-bylayer_148553-721.jpg?w=1380');
  background-size: contain;
  background-color: rgb(255, 255, 255);
  width: 370px;
  margin: 0 auto;
  padding-top: 8px;
  border-radius: 10px;
  border: 0.2px solid rgb(202, 202, 202);
}


/*  ==== Undo/Redo Buttons ===  */

/*  Undo Button - Undo.jsx  */ 
.undoBtn {
  background-image: url('PixelArt_icons_Undo.png');
  background-color: white;
  margin-left: 3px;
}

.redoBtn {
  background-image: url('PixelArt_icons_Redo.png');
  margin-right: 8px;
  margin-left: 8px;
}


/*  ==== BrushTool Buttons ===  */

/*  Paint - BrushTool.jsx */ 
.paintBtn {
  background-image: url('PixelArt_icons_Paint.png');
}

/*  Eraser - BrushTool.jsx */ 
.eraserBtn {
  background-image: url('PixelArt_icons_Eraser.png');
}

/*  Fill  - BrushTool.jsx */ 
.fillBtn {
  background-image: url('PixelArt_icons_Fill.png');
}


/*  ==== Clear Button ===  */

/*  Clear  - Clear.jsx */ 
.clearBtn {
  background-image: url('PixelArt_icons_Clear.png');
}


/*  ==== Download Button ===  */

/*  Download  - Download.jsx */ 
.downloadBtn {
  background-image: url('PixelArt_icons_Download.png');
}


/*  ==== Color Button ===  */

/*  Color button - BrushColor.jsx  */ 
.colorBtn {
  box-sizing: border-box;
}


/* ==================== HOVER EFFECT =================== */
.clearBtn:hover,
.colorBtn:hover,
.downloadBtn:hover,
.eraserBtn:hover,
.fillBtn:hover,
.paintBtn:hover,
.redoBtn:hover,
.undoBtn:hover {
  background-color: #ddd;
}


/* ==================== DISABLE EFFECT =================== */

.clearBtn:disabled,
.downloadBtn:disabled,
.eraserBtn:disabled,
.fillBtn:disabled,
.paintBtn:disabled,
.redoBtn:disabled, 
.undoBtn:disabled {
  opacity: 0.6;
  background-color: #d7d7d7;
}


/* ==================== PIXEL CANVAS INPUT  =================== */

input {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  color: #2b2b2b;
}

.canvasInput {
  margin-top: 10px;
  margin-bottom: 10px;
} 

/* Row and Column title  */ 
.pixelTitle {
  display: inline-block;
}

/* Row and Column input */ 
.pixelInput {
  border-radius: 5px;
  display: inline-block;
  padding: 2px;
  border: 0.5px solid black;
  margin: 10px 10px 10px 5px;
  width: 109px;
}



/* ==================== PIXEL CANVAS CONTAINER  =================== */
.pixelContainer {
  margin: 0 auto;
  justify-content:center;
  text-align: center;
  align-items: center;
}

.workingContainer {
  padding-top: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

canvas {
  margin: 0 auto;
  display: flex;
}