
/* ================ HEADING ================   */
/* Let's get creative - heading */
.creative_heading {
    display: inline;
    color: #1947E5;
    margin-top: -16px;
    position: relative
}

.creativeUnderline {
    width: 117px;
    background-color: rgb(255, 240, 105);
    height: 10px;
    margin: -18px -174px 28px -67px;
    z-index: -1;
}


/* ================ ARTBOARD CONTAINER ================   */

/* container surrounding choose artboard options */
.selectContainer {
    border: 1px solid red;
    display: flex;
    column-gap: 43px;
    justify-content: center;
    width: 95%;
}

/* Paint, Pixel and Etch board design */
.paintSelect, .pixelSelect, .etchSelect {
    width: 300px;
    text-align: center;
    height: 300px;
    border-radius: 0.9em;
    border: 3px solid black;
    box-shadow:6px 5px black;

    /* box icon - image sizing */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 68%;
}


/* ================ ARTBOARD selection ================   */
/* paint option  */
.paintSelect {
    background-color: white;
    background-image: url("/Home_choose_art/choose_paint.png");
    background-position-y: 60px; 

}

/* pixel option  */
.pixelSelect {
    background-color: #FFCD49;
    background-image: url("/Home_choose_art/choose_pixel_art.png");
    background-position-y: 40px; 
}

/* etch option  */
.etchSelect {
    background-color: #FF9DC6;
    background-image: url("/Home_choose_art/choose_etch.png");
    background-position-y: 60px; 
}


/* HOVER OPTIONS */

.paintSelect:hover {
    box-shadow:0 0 rgb(255, 255, 255);
    transition: 1s;
    cursor: pointer;
}


.pixelSelect:hover {
    box-shadow:0 0 #FFCD49;;
    transition: 1s;
    cursor: pointer;
}


.etchSelect:hover {
    box-shadow:0 0 #FF9DC6;
    transition: 1s;
    cursor: pointer;
}


/* LINK (a) */

.paintSelect a 
.pixelSelect a,
.etchSelect a {
    display: grid;
    width: 100%;
    height: 100%;
}


/* Paint, Pixel, Etch Heading */
.choose_heading {
    margin-top: 15px;
}

