.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 25px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 10px;
}

.download-button {
    background-color: #FFCD49;
    color: black;
    border: 1px solid red;
	margin: 0px 10px 0px 10px;
	padding: 7px 10px;
    box-shadow:2px 1px black;
	border: 2px solid black;
	border-radius: 0.5em;
	text-decoration: none;
	color: #000000;
	text-align: center;
    font-weight: 600;
}

.delete-button {
    background-color: #FC8662;
    color: black;
    border: 1px solid red;
	margin: 0px 10px 0px 10px;
	padding: 7px 10px;
    box-shadow:2px 1px black;
	border: 2px solid black;
	border-radius: 0.5em;
	text-decoration: none;
	color: #000000;
	text-align: center;
    font-weight: 600;
}

.button-container button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.button-container button:hover {
    opacity: 0.8;
}
.file-input {
    background-color: #FF9DC6;
    color: black;
    border: 1px solid red;
	margin: 0px 10px 0px 10px;
	padding: 15px;
    box-shadow:2px 1px black;
	border: 2px solid black;
	border-radius: 0.5em;
	text-decoration: none;
	color: #000000;
	text-align: center;
    font-weight: 600;
    display: inline-block;
    position: relative;
    align-items: center;
}

.file-input input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    padding: 25px;
    margin-left: 10px; 
}

