@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
	font-family: 'Poppins', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-color: #F6F6F6;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	margin: 0;
	padding: 0;
 	box-sizing: border-box;
}





/* NAV BAR */

/* nav container */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	background-color: #1947E5;
}

/* logo container */
.nav-logo {
	height: 65px;
	width: 100px;
	margin-left: 3em;
}

/* logo */
.nav-logo > a > img {
	height: 100%;
	width: auto;
}

/* nav link container */
.nav-optns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	margin-right: 6em;
  font-family: 'Poppins' bold, Helvetica, Arial, sans-serif;
}

/* nav links */
.nav-optns > a {
	border: 1px solid red;
	margin: 0px 10px 0px 10px;
	padding: 7px 10px;
  box-shadow:2px 1px black;
	border: 2px solid black;
	border-radius: 0.5em;
	text-decoration: none;
	color: #000000;
	text-align: center;
}

/* individual background colours for links */
#paint-nav {
	background-color: #FFFFFF;
}

#pixel-nav {
	background-color: #FFCD49;
}

#etch-nav {
	background-color: #FF9DC6;
}

#works-nav {
	background-color: #FC8662;
}

#signout-nav {
	background-color: #02C3A9;
}







