:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  /* border-radius: 8px; */
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
   /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}/*
button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* ==================== PAINT TOOLBAR =================== */

.toolbar {
  width: 100%;
  height: 50%;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  
}

.add_button {
  opacity: 0.3;
  text-align: center;
  width: 60px;
  height: 30px;
  /* 
  background-color: white;
  border-color: #535bf2; */
}

/* Toolbar: Rectangle Button (Rectangle.jsx) */
.add_rect {
  background: url('https://img.icons8.com/nolan/64/rectangle.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.add_rect:hover {
  opacity: 1;
  transition: 0.5s;
}

/* Toolbar : Triangle Button (Triangle.jsx)*/
.add_tri {
  background: url('https://img.icons8.com/?size=512&id=56321&format=png&color=1A6DFF,C822FF');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.add_tri:hover {
  opacity: 1;
  transition: 0.5s;
}

/* Toolbar : Circle Button (Circle.jsx) */
.add_circle {
  background: url('https://img.icons8.com/?size=512&id=VzU7PPLtpY2i&format=png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.add_circle:hover {
  opacity: 1;
  transition: 0.5s;
}

/* Toolbar : Oval Button (Ellipse.jsx) */
.add_oval {
  background: url('https://static.thenounproject.com/png/1117085-200.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.add_oval:hover {
  opacity: 1;
  transition: 0.5s;
}

/* Toolbar : Free Draw (Free-Draw.jsx) */
.add_free_draw {
  background: url('https://cdn-icons-png.flaticon.com/512/266/266146.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.add_free_draw:hover {
  opacity: 1;
  transition: 0.5s;
}

.add_free_draw:focus {
  background-color: gray;
}

/* Toolbar : Brush Size (Brush-Custom.jsx) */
.add_brush_size {
  background: url('https://cdn-icons-png.flaticon.com/128/57/57055.png');
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
}

.add_brush_size:hover {
  opacity: 1;
  transition: 0.5s;
}

.slider-label {
  margin: 0 auto;
}

/* Toolbar : Colour Select (Colour-Select.jsx) */
.add_colour_select {
  /* background: url('https://cdn3.iconfinder.com/data/icons/medical-174/100/healthy-15-512.png'); */
  /* background-position: center;
  background-size: contain;
  background-repeat: no-repeat; */
  vertical-align: text-top;
}

.add_colour_select:hover {
  opacity: 1;
  transition: 0.5s;
}

/* Toolbar: Text (Text.jsx) */ 
.add_text {
  background: url('https://cdn-icons-png.flaticon.com/512/2087/2087807.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.add_text:hover {
  opacity: 1;
  transition: 0.5s;
}

.text_options {
  background: url('https://cdn-icons-png.flaticon.com/512/3721/3721901.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.text_options:hover {
  opacity: 1;
  transition: 0.5s;
}

.fontButton {
  font-weight: 600;
}

.fontItalics {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.linethrough {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.6);
}

/* Toolbar: Delete (Remove-Object.jsx) */
.delete_button {
  background: url('https://cdn-icons-png.flaticon.com/512/3405/3405244.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.delete_button:hover {
  opacity: 1;
  transition: 0.5s;
}

.delete_all_button {
  background: url('https://cdn-icons-png.flaticon.com/512/9899/9899316.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.delete_all_button:hover {
  opacity: 1;
  transition: 0.5s;
}

/* Toolbar: Undo/Redo (Canvas-History.jsx) */
.undo_button {
  background: url('https://cdn-icons-png.flaticon.com/512/44/44426.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.undo_button:hover {
  opacity: 1;
  transition: 0.5s;
}

.redo_button {
  background: url('https://cdn-icons-png.flaticon.com/512/44/44650.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.redo_button:hover {
  opacity: 1;
  transition: 0.5s;
}

/* Toolbar: Copy/Paste (Copy-Paste.jsx) */
.copy_button {
  background: url('https://cdn-icons-png.flaticon.com/512/748/748035.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.copy_button:hover {
  opacity: 1;
  transition: 0.5s;
}

.paste_button {
  background: url('https://cdn-icons-png.flaticon.com/512/54/54702.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.paste_button:hover {
  opacity: 1;
  transition: 0.5s;
}

/* Toolbar Pan Button (Pan.jsx) */
.pan_button {
  background: url('https://img.icons8.com/?size=512&id=56362&format=png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.pan_button:hover {
  opacity: 1;
  transition: 0.5s;
}

/* Toolbar Layer Up/Down Button (Layers.jsx) */
.forward_button {
  background: url('https://cdn-icons-png.flaticon.com/512/3524/3524388.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.forward_button:hover {
  opacity: 1;
  transition: 0.5s;
}

.backward_button {
  background: url('https://cdn-icons-png.flaticon.com/128/43/43625.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.backward_button:hover {
  opacity: 1;
  transition: 0.5s;
}

/* Stroke Customisation Button (Stroke.jsx) */
.add_stroke_custom {
  background: url('https://cdn-icons-png.flaticon.com/512/101/101324.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.add_stroke_custom:hover {
  opacity: 1;
  transition: 0.5s;
}

/* Active tool */
.active_tool_icon {
  background-color: gray;
}

/* Toolbar Dropdowns Toolbar.jsx */
.download_button {
  background: url('https://cdn-icons-png.flaticon.com/512/3031/3031707.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.download_button:hover {
  opacity: 1;
  transition: 0.5s;
}

.upload_button {
  background: url('https://cdn-icons-png.flaticon.com/512/3031/3031708.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.upload_button:hover {
  opacity: 1;
  transition: 0.5s;
}

/* this is currently unused */
.extra_action_button {
  background: url('https://cdn-icons-png.flaticon.com/512/561/561184.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.extra_action_button:hover {
  opacity: 1;
  transition: 0.5s;
}

/* Save / Load Buttons - Serialisation/deserialisation.jsx */
.save_button {
  background: url('https://cdn-icons-png.flaticon.com/512/9017/9017994.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.save_button:hover {
  opacity: 1;
  transition: 0.5s;
}

.load_button {
  background: url('https://cdn-icons-png.flaticon.com/512/9017/9017998.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.load_button:hover {
  opacity: 1;
  transition: 0.5s;
}

/* Group / Ungroup Buttons - Grouping.jsx */
.group_button {
  background: url('https://cdn-icons-png.flaticon.com/512/9536/9536498.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.group_button:hover {
  opacity: 1;
  transition: 0.5s;
}

.ungroup_button {
  background: url('https://cdn-icons-png.flaticon.com/512/9536/9536919.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.ungroup_button:hover {
  opacity: 1;
  transition: 0.5s;
}

/* ==================== PIXEL TOOLBAR =================== */

/* All buttons */
.iconBtn {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


/*  ==== Undo/Redo Buttons ===  */

/*  Undo Button  */ 
.undoBtn {
  color: red;
}
.undoBtn:hover {
  border: 1px solid #888;
  background-color: #ddd;
}

/*  ==== BrushTool Buttons ===  */

/*  Paint  */ 
.paintBtn {
  background-image: url('/PixelArt/paint-brush.png');
}